<div class="large-8 columns">
  <div class="row">

    <div class="large-4 small-6 columns">
      <%= image_tag 'moonwalknav.png'%>

      <!-- <div class="panel button secondary expand"> -->
        <h5><%= link_to "Moonwalks",moonwalks_path, :class => 'button secondary expand' %></h5>
      <!-- </div> -->
    </div>

    <div class="large-4 small-6 columns">
      <%= image_tag 'pinatanav.jpg'%>

      <!-- <div class="panel"> -->
        <h5><%= link_to "Piñatas", static_pages_pinatas_path, :class => 'button secondary expand' %></h5>
      <!-- </div> -->
    </div>

    <div class="large-4 small-6 columns">
      <%= image_tag 'snowconenav.jpg'%>

      <!-- <div class="panel"> -->
        <h5><%= link_to "Snowcones", static_pages_snowcones_path, :class => 'button secondary expand' %></h5>
      <!-- </div> -->
    </div>

    <div class="large-4 small-6 columns">
      <%= image_tag 'popcornnav.jpg'%>

      <!-- <div class="panel"> -->
        <h5><%= link_to "Popcorn", static_pages_popcorn_path, :class => 'button secondary expand' %></h5>
      <!-- </div> -->
    </div>

    <div class="large-4 small-6 columns">
		<%= image_tag 'cottoncandynav.jpg'%>

      <!-- <div class="panel"> -->
        <h5><%= link_to "Cotton Candy", static_pages_cotton_candy_path, :class => 'button secondary expand' %></h5>
      <!-- </div> -->
    </div>

    <div class="large-4 small-6 columns">
		<%= image_tag 'chairstablesnav.jpg'%>

      <!-- <div class="panel"> -->
        <h5><%= link_to "Tables & Chairs", static_pages_tables_chairs_path, :class => 'button secondary expand' %></h5>
      <!-- </div> -->
	  
    </div>
  </div>
